.main-box{
  width: 960px;
height: 670px;
background: #fff;
margin: 0 auto;
position: relative;
}
.center{
  width: 500px;
  height: 558px;
  background: #FFFFFF;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid #D8D8D8;
  margin:0 auto;
}
.btn1{
  position: absolute;
  right:138px ;
  top: 266px;
  width: 52px;
height: 24px;
border-radius: 2px;
border: 1px solid #EDEFF2;
text-align: center;
font-size: 12px;
font-family: ArialMT;
color: #BCBFCC;
line-height: 24px;
}
.btn2{
  position: absolute;
  right: 138px;
  top: 308px;
  width: 52px;
height: 24px;
background: rgba(141, 144, 153, 0.1);
border-radius: 2px;
border: 1px solid #BCBFCC;
text-align: center;
font-size: 12px;
font-family: ArialMT;
color: #5E6066;
line-height: 24px;
}
.btn3{
  position: absolute;
  right: 72px;
  top: 361px;
  width: 118px;
height: 24px;
background: rgba(141, 144, 153, 0.1);
border-radius: 2px;
border: 1px solid #BCBFCC;
text-align: center;
font-size: 12px;
font-family: ArialMT;
color: #5E6066;
line-height: 24px;
}
.btn4{
  position: absolute;
  right: 50px;
  top: 415px;
  width: 140px;
  height: 28px;
  background: rgba(224, 22, 42, 0.1);
  border-radius: 2px;
  border: 1px solid #E0162A;
text-align: center;
font-size: 12px;
font-family: ArialMT;
color: #5E6066;
line-height: 28px;
}

/* 
  1、不要直接拷贝蓝湖，蓝湖中是拷贝需要的过来，比如font-family是不需要拷贝的。
  2、注意缩进。
  3、定位少用，不到没办法了不用定位。
  4、有公共属性可以考虑将相同部分抽取出来，然后根据不同的类加特殊的样式。
*/